@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 8px 0%;
}
header h1, .select-dates h3{
 margin: 0;
}
.link {
  text-decoration: none;
}
ul {
  padding: 0;
  margin-top: 0;
}

.select-dates {
 display: flex;
 justify-content: center;
 /* align-items: center; */
 background-color: #DB4680;
 flex-direction: column;
 padding: 16px;
}
.select-dates div {
  display: flex;
  padding: 16px;
  padding-left: 0;
}
.select-dates div  input{
  width: 35%;
  height: 32px;
  border: 2px solid #fff;
  background-color: #DB4680;
  margin-right: 8px;
}
.select-dates div button {
  width: 30%;
}
.select-dates div button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.home-heading {
  background-color: #CF4277;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 16px;
}

.metrics-list{
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.metric {
  width: 25%;
  height: 32vh;
  background-color: #DB4680;
  color: #fff;
  border: 0;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.metric:nth-of-type(8n+2), .metric:nth-of-type(8n+4),.metric:nth-of-type(8n+5),.metric:nth-of-type(8n+7){
  background-color: #CF4277;
}
.metric:hover{
  cursor: pointer;
  opacity: 0.6;
}
.metric div {
  position: absolute;
  bottom: 28px;
  right: 28px;
  text-align: right;
}
.metric div  h4 {
  margin :0;
  font-size: 21px;
  font-family: 'Lato', sans-serif;
}
.metric div  p {
  margin :0;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

/* Details */

.details-header {
  padding: 16px;
  display: flex;
  background-color: #FC5294;
  align-items: center;
  justify-content: center;
}
.details-header .img-bg{
  width: 70%;
  height: 20vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.details-header .content {
  color: #fff;
 text-align: right;
 font-family: 'Lato', sans-serif;
}
.details-header .content h4 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.details-header .content  p {
  margin :0;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.heading {
  background-color: #CF4277;
  color: #fff;
  font-size: 16px;
  padding: 21px 8px;
  text-transform: uppercase;
}

/* Region */
.region{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #DF4782;
  padding: 8px 21px;
  padding-right: 32px;
}
.region:nth-child(even){
  background-color:#CF4277;
}
.regions-list {
  margin: 0;
}
/* Utilities */

.page-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FC5294;
  color: #fff;
  padding: 0 16px;
}
.page-heading button {
  text-decoration: none;
  color: #fff;
  border: 0;
  background-color: #FC5294;

}
.page-heading button p{
 display: flex;
 align-items: center;
}
.page-heading h4 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}
button:hover{
  cursor: pointer;
}